<div class="plateforme-container">
    <h2 class="section-title add-title">Add a New Technologie</h2>
    <form #technologyForm="ngForm" (ngSubmit)="addTechnologie()">
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input
          type="text"
          id="nom"
          name="nom"
          ngModel
          [(ngModel)]="newTechnology.nom"
          required
          class="form-control"
          placeholder="Enter technology name"
        />
      </div>
    
      <div class="form-group">
        <label for="impactEnvironnemental">Impact Environnemental:</label>
        <input
          type="text"
          id="impactEnvironnemental"
          name="impactEnvironnemental"
          ngModel
          [(ngModel)]="newTechnology.impactEnvironnemental"
          required
          class="form-control"
          placeholder="Enter environmental impact"
        />
      </div>
    
      <!-- Select dropdown for choosing the type -->
      <div class="form-group">
        <label for="type">Type:</label>
        <select
          id="type"
          name="type"
          ngModel
          [(ngModel)]="newTechnology.type"
          required
          class="form-control"
        >
          <option value="" disabled>Select type</option>
          <option value="application_mobile">Application Mobile</option>
          <option value="tableau_interactif">Tableau Interactif</option>
        </select>
      </div>
    
      <button type="submit" class="btn btn-primary">Add Technologie</button>
    </form>
    
  
    <!-- Display list of technologies -->
    <h2 class="section-title list-title">Technologies List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Impact Environnemental</th>
          <th>Type Education Technology</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let technologie of technologies">
          <td>{{ technologie.nom }}</td>
          <td>{{ technologie.impactEnvironnemental }}</td>
          <td>{{ technologie.type}}</td>

        </tr>
      </tbody>
    </table>
  </div>
  
  